*{
    box-sizing: border-box;
    margin:0;
}
/* Características generales de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("./static/excavadora.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

/* El contenedor define la zona principal de contenido */
#contenedor {
    display: flex;
    justify-content: center;
    padding: 1em;
    background: rgba(0, 0, 0, 0.671);
    height: 100vh;
}
.center {
    width: 650px; 
    padding: 10px;
    border-radius: 10px;
  }

/* El formulario está definido como una lista */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    border-top: 1px solid #ccc;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 1em 0;
    padding: 1em;
    overflow: hidden;
}

/* El formulario se organiza en dos columnas, el título y los controles */
ul li label.titulo {
    float: left;
    width: 150px;
    text-align: right;
}

ul li div.controles {
    margin-left: 200px;
    
}

/* El último elemento del formulario es el botón "Registrarse" */
ul li.botones {
    /* border-top: 2px solid #ccc; */
    clear: both;
    float: none;
    padding: 1em 0;
    text-align: right;
    width: 100%;

}

ul li.botones input {
    font-size: 18px;
}

/* El título de los elementos de la lista */
ul li label.titulo {
    font-weight: bold;
}

ul li div span {
    float: left;
    padding: 0.3em 0;
}

ul li div span.completo {
    width: 100%;
    
}

ul li div span.fechas {
    width: 33%;
}

ul li div span.latitude {
    width: 33%;
}

ul li div span.longitude {
    width: 66%;
}

/* Como se define display: block, se muestra en la línea siguiente */
ul li div span label {
    display: block;
    font-size: 12px;
    color: rgb(255, 255, 255);
}

/* Configuración de los controles del formulario */
ul li input {
    padding: 0.2em;
    border-radius: 4px;
    
}

input#architect_name,
input#hirer_name,
input#build_name {
    width: 260px;
}

input#start_date,
input#end_date {
    width: 135px;
}


/* Destaca el control cuando recibe el foco */
ul li input {
    border: 2px solid transparent;
    border-bottom: 2px solid black;
}

ul li.botones button {
   
    margin: 3px 20px;
    border: none;
    cursor: pointer;
    background-color: transparent !important;
    transition: .2s;
}

ul li.botones button:hover{
    transform: scale(1.3);
}
ul li input:focus {
    border: 2px solid #f00;
}
div.header{
    background-color: black;
    padding: 5px;
}

.blanco{
    color: white; 
    margin-left: 10px;
}

div.footer{
    background-color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
    
    
}
label{
    color: white;
}

.margen{
    margin-left: 60px;
}

.content {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    margin-top: -9em;
    margin-left: -15em;
    background: rgba(0, 0, 0, 0.671);
    border-radius: 10px;
}
.section {
    text-align: center;
    margin-top: 100px;
}

.fh3 {
    color: white;
    margin-bottom: 20px;
}
.footer_fallo{
    background-color: black;
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 33px;
}
.pag_error{
    font-family: 'Roboto', sans-serif;
    background-image: url("./static/excavadora.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
